/* The CSS property margin defines the margin area on the four sides of the element. */
.table{
    margin-top: 50px;
}
.container-fluid{
    margin-top: 50px;
}

#edit{
    margin-left: 5px;
    color: white;
    padding: 5px;
    background: blue;
    cursor: pointer;
}
#delete{
    color: white;
    padding: 5px;
    background: red;
    cursor: pointer;
}